
VITE_SERVER_URL=server-url
VITE_BACKEND_URL=backend-url
VITE_GOOGLE_MAPS_API_KEY=google-maps-api-key

# firebase config
VITE_FIREBASE_API_KEY=firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=firebase-auth-domain
VITE_FIREBASE_PROJECT_ID=firebase-project-id
VITE_FIREBASE_STORAGE_BUCKET=firebase-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=firebase-messaging-sender-id
VITE_FIREBASE_APP_ID=1:firebase-app-id:web:firebase-web-id
VITE_FIREBASE_MEASUREMENT_ID=firebase-measurement-id

# socket.io config
VITE_SOCKET_URL=socket-url
